domain: domain.tech

events:
  pull_request: "deploy" # or "ignore", deploy by default
  commit: "deploy" # or "ignore", deploy by default

stale_pull_cleanup:
  enabled: true
  duration: "7 days"

deploy:
  - name: repo-name1
    components:
      - name: web
        chart: ./charts/web
        needs:
          - static
        version: commit
      - name: static
        version: release
        repo: repo-name2
      - name: api
        chart: ./charts/web.api
        needs: # a dependency on another component, when deploy happens, both components will be redeployed
          - db
        version: commit
      - name: db
        version: data
      - name: mailer
        addon: true # a component which is not installed by default with push, but can be added by a comment
        version: release
  - name: repo-name2
    components:
      - name: web
        chart: ./charts/web
        needs:
          - static
        version: release
      - name: static
        version: release
      - name: api
        chart: ./charts/web.api
        needs:
          - db
        version: commit
      - name: db
        version: data

versions:
  - name: commit
    description: latest commit made in the repo (default value)
  - name: release
    description: latest release from the repo
  - name: ^.+$
    description: predefined version
